# Node.js dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Dependency caches
.npm/
.cache/
/.pnp
.pnp.js

# Testing coverage reports
/coverage/

# Production build
/build/
Frontend/build/
Backend/build/

# Environment variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.production
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous system files
.DS_Store
Thumbs.db

# Docker
.dockerignore
docker-compose.override.yml
